---
title: "Enrollment Verification"
source: https://www.swarthmore.edu/registrar/enrollment-verification
section: registrar
content_hash: 4b8d26e22f1422cf4d782561b29829ac87f5c878c387fc3e625edb583b011064
---

# Enrollment Verification

Enrollment or Degree Verification

## Apostille:

Complete and submit a transcript [pdf] and/or diploma [pdf] request form with special instructions to be notarized. Follow the instructions found on the PA dept of State Webpage.

## Current Students:

An immediate enrollment certificate can be obtained for current enrolled students by logging into mySwarthmore, clicking on Student Main Menu, then National Student Clearinghouse. Current students may also request a verification letter including the expected graduation date by filling out the Enrollment Verification (for currently enrolled students only) [google form] (allow up to 48 hours for processing time).

## Alumni:

Degree or past attendance information can be verified through the National Student Clearinghouse. Alumni may also use the Alumni Enrollment / Degree Confirmation [pdf] form (allow up to 48 hours for processing time).

## Parents:

If a letter is needed at the request of a parent, please have your student fill out the Enrollment Verification (for currently enrolled students only) [google form] (allow up to 48 hours for processing time).
